build/**
dist/**
website/yarn.lock
projectaria_tools.egg-info/**
projectaria_tools_dev.egg-info/**
.pixi/**
wheels/**
**/__pycache__/
**.DS_Store
projectaria_tools/data/mps_sample/eye_gaze.zip
projectaria_tools/data/mps_sample/hand_tracking.zip
projectaria_tools/data/mps_sample/sample.vrs
projectaria_tools/data/mps_sample/trajectory.zip
projectaria_tools/data/mps_sample/eye_gaze/calibrated_eye_gaze.csv
projectaria_tools/data/mps_sample/eye_gaze/generalized_eye_gaze.csv
projectaria_tools/data/mps_sample/eye_gaze/summary.json
projectaria_tools/data/mps_sample/eye_gaze/version.json
projectaria_tools/data/mps_sample/hand_tracking/summary.json
projectaria_tools/data/mps_sample/hand_tracking/wrist_and_palm_poses.csv
projectaria_tools/data/mps_sample/trajectory/closed_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/global_points.csv.gz
projectaria_tools/data/mps_sample/trajectory/online_calibration.jsonl
projectaria_tools/data/mps_sample/trajectory/open_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/semidense_observations.csv.gz
projectaria_tools/data/mps_sample/trajectory/summary.json
projectaria_tools/data/mps_sample/trajectory/version.json
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vits.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vits.pt.zip
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vitt.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/squeeze_sam.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/__MACOSX/._efficient_sam_vits.pt
josiahTest0523.mp4
projectaria_tools/data/mps_sample/eye_gaze/eyegaze.csv
projectaria_tools/data/mps_sample/eye_gaze_vergence/generalized_gaze.csv
JosiahSampleRegular0601_001.wav
JosiahSampleRegular0601_001.wav.json
JosiahSampleRegular0601_002.wav
JosiahSampleRegular0601_002.wav.json
JosiahSampleRegular0602_001.wav.json
JosiahSampleRegular0602_002.wav
JosiahSampleRegular0602_002.wav.json
projectaria_tools/projectaria_tools/__init__.pyi
projectaria_tools/projectaria_tools/core/__init__.pyi
projectaria_tools/projectaria_tools/core/calibration.pyi
projectaria_tools/projectaria_tools/core/data_provider.pyi
projectaria_tools/projectaria_tools/core/image.pyi
projectaria_tools/projectaria_tools/core/sensor_data.pyi
projectaria_tools/projectaria_tools/core/sophus.pyi
projectaria_tools/projectaria_tools/core/stream_id.pyi
projectaria_tools/projectaria_tools/core/vrs_health_check.pyi
projectaria_tools/projectaria_tools/core/vrs.pyi
projectaria_tools/projectaria_tools/core/mps/__init__.pyi
projectaria_tools/projectaria_tools/core/mps/hand_tracking.pyi
projectaria_tools/projectaria_tools/core/mps/utils.pyi
projectaria_tools/projectaria_tools/projects/adt.pyi
projectaria_tools/projectaria_tools/projects/aea.pyi
projectaria_tools/projectaria_tools/projects/ase.pyi
JosiahSampleRegular0601_001.wav
JosiahSampleRegular0601_001.wav.json
JosiahSampleRegular0601_002.wav.json
JosiahSampleRegular0601_002.wav
JosiahSampleRegular0602_001.wav.json
JosiahSampleRegular0602_002.wav
JosiahSampleRegular0602_002.wav.json
JosiahTest0523_002.wav
JosiahTest0523.wav
JosiahTest0523.wav.json
JosiahTest0529_001.wav
JosiahTest0529.wav
sample.mp4
JosiahSampleRegular0601.wav.json
JosiahSampleRegular0601.wav
JosiahSample0601.mp4
