build/**
dist/**
website/yarn.lock
projectaria_tools.egg-info/**
projectaria_tools_dev.egg-info/**
.pixi/**
wheels/**
**/__pycache__/
**.DS_Store
projectaria_tools/data/mps_sample/sample.vrs
projectaria_tools/data/mps_sample/eye_gaze/eyegaze.csv
projectaria_tools/data/mps_sample/eye_gaze/generalized_eye_gaze.csv
projectaria_tools/data/mps_sample/eye_gaze/summary.json
projectaria_tools/data/mps_sample/eye_gaze_vergence/generalized_gaze.csv
projectaria_tools/data/mps_sample/hand_tracking/summary.json
projectaria_tools/data/mps_sample/hand_tracking/wrist_and_palm_poses.csv
projectaria_tools/data/mps_sample/trajectory/closed_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/global_points.csv.gz
projectaria_tools/data/mps_sample/trajectory/online_calibration.jsonl
projectaria_tools/data/mps_sample/trajectory/open_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/semidense_observations.csv.gz
projectaria_tools/data/mps_sample/trajectory/summary.json
JosiahSample0601.mp4
JosiahSampleRegular0601_001.wav
JosiahSampleRegular0601_001.wav.json
JosiahSampleRegular0601_002.wav
JosiahSampleRegular0601_002.wav.json
JosiahSampleRegular0601.wav
JosiahSampleRegular0601.wav.json
JosiahSampleRegular0602_001.wav.json
JosiahSampleRegular0602_002.wav
JosiahSampleRegular0602_002.wav.json
JosiahTest0523_002.wav
JosiahTest0523.wav
JosiahTest0523.wav.json
JosiahTest0529_001.wav
JosiahTest0529.wav
sample.mp4
