build/**
dist/**
website/yarn.lock
projectaria_tools.egg-info/**
projectaria_tools_dev.egg-info/**
.pixi/**
wheels/**
**/__pycache__/
**.DS_Store
projectaria_tools/data/mps_sample/eye_gaze.zip
projectaria_tools/data/mps_sample/hand_tracking.zip
projectaria_tools/data/mps_sample/sample.vrs
projectaria_tools/data/mps_sample/trajectory.zip
projectaria_tools/data/mps_sample/eye_gaze/calibrated_eye_gaze.csv
projectaria_tools/data/mps_sample/eye_gaze/generalized_eye_gaze.csv
projectaria_tools/data/mps_sample/eye_gaze/summary.json
projectaria_tools/data/mps_sample/eye_gaze/version.json
projectaria_tools/data/mps_sample/hand_tracking/summary.json
projectaria_tools/data/mps_sample/hand_tracking/wrist_and_palm_poses.csv
projectaria_tools/data/mps_sample/trajectory/closed_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/global_points.csv.gz
projectaria_tools/data/mps_sample/trajectory/online_calibration.jsonl
projectaria_tools/data/mps_sample/trajectory/open_loop_trajectory.csv
projectaria_tools/data/mps_sample/trajectory/semidense_observations.csv.gz
projectaria_tools/data/mps_sample/trajectory/summary.json
projectaria_tools/data/mps_sample/trajectory/version.json
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vits.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vits.pt.zip
tools/samples/python/SAM_eye_gaze_prompt/weights/efficient_sam_vitt.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/squeeze_sam.pt
tools/samples/python/SAM_eye_gaze_prompt/weights/__MACOSX/._efficient_sam_vits.pt
josiahTest0523.mp4
